body{margin: 0px; padding: 0px;}
.clear{clear: left;}
#sonra{
    width: 100%; 
    max-width: 1400px; 
    height: auto; 
    min-height: 400px; 
    margin: 0px auto;
    background-color: black ;
}
#slogan{
    width: 100%; 
    height: auto;
    min-height: 100px; 
    margin: 0px; 
    background-color: #ddd;
}
#slogan > #sloganic{
    width: 100%; 
    max-width: 1400px; 
    height: auto; 
    min-height: 50px; 
    margin: 0px auto; 
    
}
#slogan > #sloganic > .haberler{
    width: 24%;
    height: auto;
    margin: 10px 0.5%;
    float: left;
    text-align: center;
}
#slogan > #sloganic > .haberler > img{
    width: auto;
    height: auto;
    min-height: 99px;
    margin: 0px;
}
#slogan > #sloganic > .haberler > figcaption{
    width: 100%;
    height: auto;
    margin:0px;
    padding: 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
#alt{
    width: 100% ; 
    height: auto;
    min-height: 300px; 
    margin: 0px; 
    background-color: #d39a2f;
}
#lisans{
    width: 100%; 
    height: auto; 
    min-height: 30px; 
    margin-top: 10px; 
    background-color: #967a3b;
}
/* mobil tasarım */
@media screen and (max-width:768px){
    #slogan > #sloganic > .haberler{width: 99%;}
}
/* tablet tasarım */
@media screen and (min-width:769px) and (max-width:992px){
    #slogan > #sloganic > .haberler{width: 49%;}
}
/* bilgisayar tasarım */
@media screen and (min-width:993px){
    #slogan > #sloganic > .haberler{width: 24%;}
}